.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #5c00c5;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  min-height: 75vh;
  align-items: center;
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery {
  flex: 1;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.galleryInner {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.galleryImage {
  min-width: 100%;
  object-fit:contain}

.galleryButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
  z-index: 10;
}

.galleryButton:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.content {
  flex: 1;
  padding: 0 2rem;
  min-height: 50vh;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.technologies {
  margin-bottom: 2rem;
}

.technologies h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.technologies ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.technologies li {
  background: #e0e0e0;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
}

.links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.githubLink {
  display: flex;
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease;
  font-size: 1rem;
  margin-top: 1rem;
  gap: 0.5rem;
  align-items: center;
}

.githubLink:hover {
  background: #154c84;
}

.youtubeLink {
  display:flex;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease;
  font-size: 1rem;
  margin-top: 1rem;
  gap: 0.5rem;
  align-items: center;
}

.youtubeLink:hover {
  background: #ff6a6a;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    min-height: auto;
  }

  .gallery {
    width: 100%;
    margin-bottom: 2rem;
  }

  .galleryImage {
    height: auto;
    max-height: 300px;
  }

  .content {
    padding: 0;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .technologies li {
    font-size: 0.8rem;
  }
}