  .projectsSection {
    color:#ffffff;
    font-size: 21px;
  }

  .title {
    color: #ffffff;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }

  .projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem;
  }


