/* Skills.module.css */
.skillsContainer {
    margin-top: 2rem;
    padding: 1rem;
  }

  .titleContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 21px;
    color: #ffffff;
  }
  
  .skillsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px; 
  }
  
  .skillLogo {
    width: 68px;
    height: 68px;
    object-fit: contain;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .skillItem:hover .skillLogo {
    transform: scale(1.1);
  }
  
  .skillName {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .skillsGrid {
      justify-content:center;
    }
    
    .skillItem {
      width: calc(33.333% - 0.5rem); 
  }
  .skillName {
    font-size: 1rem;
  }
  
  @media (max-width: 480px) {
    .skillItem {
      width: calc(50% - 0.5rem);
    }
  }
}